
 /* {
  background-color: #b70a34;
  overflow: hidden;
  justify-content: center;
  border-color: #61dafb;
  border-width: 16px;
} */

#light{
  background-color: "#fff";
}
#dark{
  background-color: black;
}